# Сборочные артефакты
build/

# Системы контроля версий
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# Временные файлы (только тестовые, не исходники)
*.tmp
*.enc

# README можно оставить, он лёгкий